/* SETUP */

:root {
  --color-primary: #54899a;
  --color-background: #222527;
  --color-darkest: #2d3033;
  --color-dark: #333739;
  --color-medium: #383c3e;
  --color-light: #45494b;
  --color-light-2: #3f494d;
  --color-lightest: #606668;
  --color-font: #eee4dc;
  --color-font-light: #eee4dc;
  --color-font-gray: #bcb5b0;
  --color-red-light: #bb5151;
  --color-red: #864c51; /* #733537 ; */
  --color-green: #506c44; /* #415f35; */
  --color-blue: #366378; /* #393f65; */
  --color-purple: #674e88; /* #4f3053; */
  --color-yellow: #827f43;
  --shadow-strong: 0.5rem 2rem 5rem rgba(0, 0, 0, 0.4);
  --shadow-light: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  --shadow-selected: inset 0 0 0 2px var(--color-primary);
  --shine-light: 0 -0.3rem 0.5rem -0.3rem rgba(255, 255, 255, 0.1);
}

[data-theme="light"] {
  --color-primary: #54899a;
  --color-background: #b6b6b6;
  --color-darkest: #c5c9cb;
  --color-dark: #bebebe;
  --color-medium: #dbdbdb;
  --color-light: #e5e5e5;
  --color-light-2: #cecece;
  --color-lightest: #ffffff;
  --color-font: #3f3f3f;
  --color-font-light: #eee4dc;
  --color-font-gray: #888887;
  --color-red-light: #bb5151;
  --color-red: #864c51; /* #733537 ; */
  --color-green: #506c44; /* #415f35; */
  --color-blue: #366378; /* #393f65; */
  --color-purple: #674e88; /* #4f3053; */
  --color-yellow: #827f43;
  --shadow-strong: 0.5rem 2rem 5rem rgba(0, 0, 0, 0.4);
  --shadow-light: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  --shadow-selected: inset 0 0 0 2px var(--color-primary);
  --shine-light: 0 -0.3rem 0.5rem -0.3rem rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  touch-action: manipulation;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%235a6b76' fill-opacity='0.14'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: var(--color-font);
  transition: background-color 0.4s, color 0.3s;
}

/* MAIN */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  height: 88rem;
  max-height: 90vh;
  margin: 2rem;
  width: 100%;
  max-width: 168rem;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-radius: 1.6rem;
  background-color: var(--color-medium);
  box-shadow: var(--shadow-strong);
  transition: background-color 0.4s, color 0.3s;
}

.app--small {
  max-height: 60rem;
  width: auto;
}

/* CALENDAR */

.calendar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 8rem;
  padding-top: 3.2rem;
  position: relative;
}

.calendar__options {
  position: absolute;
  top: 3.2rem;
  right: 8rem;
}

.button {
  font-family: FontAwesome;
  font-size: 1.6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--color-light);
  color: var(--color-font);
  cursor: pointer;
  border: none;
  box-shadow: var(--shadow-light);
  transition: background-color 0.4s, color 0.3s;
}

.button:focus {
  outline: none;
  filter: brightness(110%);
}

.button--notifications {
  visibility: hidden;
  margin-left: 0.8rem;
}

.button--previous::before {
  content: "\f053";
}

.button--next::before {
  content: "\f054";
}

.button--settings::before {
  content: "\f013";
}

.button--notifications::before {
  content: "\f0f3";
}

.button__counter {
  background-color: var(--color-red-light);
  color: var(--color-font-light);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition: background-color 0.4s, color 0.3s;
}

/* CALENDAR SETTINGS */

.calendar__settings {
  position: absolute;
  width: 40rem;
  right: 0.4rem;
  border-radius: 0.8rem;
  box-shadow: var(--shadow-strong);
  padding: 1.6rem;
  background-color: var(--color-lightest);
  top: 4.8rem;
  margin: 0 auto;
  z-index: 5;
  transition: background-color 0.4s, color 0.3s;
}

.calendar__setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar__setting:not(:last-of-type) {
  margin-bottom: 1.6rem;
}

.calendar__setting-name {
  color: var(--color-font);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  transition: background-color 0.4s, color 0.3s;
}

.calendar__setting-list {
  display: flex;
  list-style: none;
}

.calendar__setting-option {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-font);
  border-radius: 0.4rem;
  font-size: 2rem;
  box-shadow: var(--shadow-light);
  user-select: none;
  cursor: pointer;
  transition: background-color 0.4s, color 0.3s;
}

.calendar__setting-option--selected {
  border: 2px solid var(--color-primary);
  cursor: initial !important;
}

.calendar__setting-option--selected-solid {
  background-color: var(--color-primary);
  color: var(--color-font-light);
  cursor: initial !important;
}

.calendar__setting-option--light {
  background-color: white;
}

.calendar__setting-option--dark {
  background-color: #2d3033;
}

.calendar__setting-option:not(:last-child) {
  margin-right: 0.4rem;
}

/* CALENDAR HEADER */

.calendar__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  text-align: center;
  width: 27rem;
  margin-left: auto;
  margin-right: auto;
}

.calendar__title {
  font-size: 3rem;
  font-weight: normal;
  color: var(--color-font);
  transition: background-color 0.4s, color 0.3s;
}

.calendar__title--current {
  color: var(--color-primary);
  filter: brightness(1.2);
}

/* CALENDAR NAMES */

.calendar__names {
  color: var(--color-font);
  font-size: 1.6rem;
  transition: background-color 0.4s, color 0.3s;
}

.calendar__names-list {
  list-style: none;
  display: flex;
}

.calendar__names-item {
  flex: 1;
  text-align: center;
  margin-bottom: 1.6rem;
}

/* CALENDAR DAYS */

.calendar__days {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar__row:not(:last-child) {
  margin-bottom: 0.8rem;
}

.calendar__row {
  display: flex;
  flex: 1;
}

.calendar__row:first-child .day--inactive {
  box-shadow: var(--shine-light);
}

/* DAY CARD */

.day {
  display: flex;
  cursor: pointer;
  background-color: var(--color-light);
  color: var(--color-font);
  border-radius: 0.4rem;
  flex: 1;
  height: 100%;
  box-shadow: var(--shadow-light);
  transition: background-color 0.4s, color 0.3s;
}

.day:focus {
  outline: none;
}

.day:not(:last-child) {
  margin-right: 0.8rem;
}

.day--current {
  background-color: var(--color-primary);
  color: var(--color-font-light);
  transition: background-color 0.4s, color 0.3s;
}

.day--current.day--selected {
  box-shadow: inset 0 0 0 0.4rem var(--color-primary),
    inset 0 0 0 0.6rem var(--color-medium);
}

.day--selected {
  box-shadow: inset 0 0 0 0.4rem var(--color-primary);
  cursor: initial;
}

.day--weekend {
  background-color: var(--color-light-2);
  transition: background-color 0.4s, color 0.3s;
}

.day--inactive {
  background-color: var(--color-medium);
  opacity: 0.3;
  transition: background-color 0.4s, color 0.3s;
}

.day--selected .day__event {
  cursor: pointer;
}

.day__events {
  flex: 1;
}

.day__events-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.day__event {
  color: var(--color-font-light);
  line-height: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.4rem;
  height: 25%;
  width: 50%;
  position: relative;
  box-shadow: var(--shadow-light);
  transition: width 0.2s;
}

.day__event:first-child {
  border-top-left-radius: 0.4rem;
}

.day__event:nth-child(4) {
  border-bottom-left-radius: 0.4rem;
  box-shadow: none;
}

.day__event:hover {
  width: 60%;
}

.day__event--exam {
  background-color: var(--color-red);
  border-right: 0.1px solid var(--color-red);
}

.day__event--lab {
  background-color: var(--color-blue);
  border-right: 0.1px solid var(--color-blue);
}

.day__event--project {
  background-color: var(--color-green);
  border-right: 0.1px solid var(--color-green);
}

.day__event--other {
  background-color: var(--color-purple);
  border-right: 0.1px solid var(--color-purple);
}

.day__event::after {
  content: "";
  background-color: inherit;
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 1rem;
  clip-path: polygon(0 0, 100% 45%, 0 100%);
  filter: drop-shadow(0px 20px 20px rgba(130, 130, 130, 1));
}

.day__number {
  font-size: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: right;
  line-height: 1;
  display: flex;
  width: 20%;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: "Oswald", sans-serif;
  user-select: none;
}

/* EXTENSION */

.extension {
  width: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
  background-color: var(--color-darkest);
  overflow: none;
  transition: background-color 0.4s, color 0.3s;
}

.extension__events {
  padding: 2rem;
  overflow: auto;
}

.extension__header {
  color: var(--color-font);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: background-color 0.4s, color 0.3s;
}

/* EXTENSION LIST */

.extension__events-list {
  list-style: none;
  color: var(--color-font);
}

.extension__event {
  padding: 0.8rem 1.2rem 0.8rem 3.2rem;
  padding-bottom: 0.8rem;
  background-color: var(--color-medium);
  border-radius: 0.4rem;
  box-shadow: var(--shadow-light);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.4s, color 0.3s;
}

.extension__event--adder {
  border: 0.2rem dashed currentColor;
  background-color: var(--color-darkest);
  display: flex;
  align-items: center;
  height: 5.6rem;
  justify-content: center;
  color: var(--color-font);
  transition: background-color 0.4s, color 0.3s;
}

.extension__event:not(:last-child) {
  margin-bottom: 1.2rem;
}

.extension__event--selected {
  background-color: var(--color-primary);
  color: var(--color-font-light);
  box-shadow: none;
  cursor: initial;
}

.extension__event--exam::before,
.extension__event--lab::before,
.extension__event--project::before,
.extension__event--other::before {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  width: 1.6rem;
  bottom: 0.8rem;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-light);
}

.extension__event--exam::before {
  background-color: var(--color-red);
}

.extension__event--lab::before {
  background-color: var(--color-blue);
}

.extension__event--project::before {
  background-color: var(--color-green);
}

.extension__event--other::before {
  background-color: var(--color-purple);
}

.extension__event-title {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.extension__event-panel {
  display: flex;
  margin-top: 0.4rem;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

/* EXTENSION INFO */

.app__info {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.app__event-title {
  color: var(--color-font);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: background-color 0.4s, color 0.3s;
}

.app__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  text-decoration: underline;
  font-size: 1.4rem;
  color: var(--color-primary);
  margin-bottom: 1.6rem;
}

.app__links a:not(:last-child) {
  margin-right: 3.2rem;
  margin-bottom: 0.6rem;
}

.app__link {
  cursor: pointer;
}

.app__link:after {
  font-family: FontAwesome;
  font-size: 1.2rem;
  content: "\f35d";
  margin-left: 0.4rem;
  display: inline-block;
}

.app__info-text {
  color: var(--color-font);
  max-width: 40rem;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.4;
  padding: 0 1.2rem 0 0.8rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 2px solid var(--color-primary);
  transition: background-color 0.4s, color 0.3s;
}

::-webkit-scrollbar {
  background-color: var(--color-light);
  z-index: 2;
  transition: background-color 0.4s, color 0.3s;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  transition: background-color 0.4s, color 0.3s;
}

/* EDITION */

.edition {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.edition__header {
  color: var(--color-font);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: background-color 0.4s, color 0.3s;
}

.edition__label {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: var(--color-font);
  margin-bottom: 0.4rem;
  transition: background-color 0.4s, color 0.3s;
}

.edition__setting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edition__setting:not(:last-child) {
  margin-bottom: 1.2rem;
}

input,
select,
textarea {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 0.8rem;
}

.submit {
  display: flex;
  flex-direction: row;
}

.submit__button {
  background-color: var(--color-primary);
  border: none;
  padding: 1rem 2rem;
  color: var(--color-font-light);
  font-weight: bold;
  border-radius: 2px;
}

.submit__button:hover {
  cursor: pointer;
}

.submit__button--delete {
  background-color: inherit;
  color: var(--color-font);
  transition: background-color 0.4s, color 0.3s;
}

.submit__button--delete:hover {
  color: rgb(233, 118, 118);
}

/* QUERIES */

@media only screen and (max-width: 112rem) {
  .app {
    border-radius: 0;
    margin: 0;
    height: 100vh;
    max-height: none;
    width: 100vw;
    max-width: none;
  }

  .app--small {
    height: 88rem;
    margin: 2rem;
    max-width: 168rem;
    max-height: 60rem;
    width: auto;
    border-radius: 1.6rem;
  }

  .calendar {
    padding: 4rem;
    padding-top: 2.4rem;
  }

  .calendar__options {
    right: 4rem;
    top: 2.4rem;
  }

  .calendar__header {
    margin-bottom: 3.2rem;
  }

  .extension__events {
    padding-top: 2.4rem;
  }
}

@media only screen and (max-width: 90rem) {
  html {
    font-size: 56.25%;
  }

  .app--small {
    max-height: 62rem;
  }
}

@media only screen and (max-width: 82rem) {
  html {
    font-size: 50%;
  }

  .app--small {
    max-height: 65rem;
  }
}

@media only screen and (max-width: 60rem) {
  .app {
    flex-direction: column;
    max-height: none;
    overflow: visible;
  }

  .app--small {
    flex-direction: row;
    max-height: 65rem;
    overflow: hidden;
  }

  .calendar {
    min-height: 80vh;
    padding: 2rem;
  }

  .calendar__options {
    top: 2rem;
    right: 2rem;
  }

  .extension {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .day__events-list {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 45rem) {
  .app--small {
    height: auto;
    max-height: none;
    width: 100%;
    margin: 0;
    border-radius: 0;
    flex-direction: column;
  }

  .extension {
    flex-direction: column;
  }

  .extension__events {
    width: 100%;
  }
}

@media only screen and (max-width: 35rem) {
  :root {
    --shadow-selected: inset 0 0 0 1px var(--color-primary);
  }

  html {
    font-size: 40%;
  }

  .calendar {
    min-height: 60%;
    padding: 0.8rem;
    padding-top: 1.6rem;
  }

  .calendar__options {
    top: 1.6rem;
    right: 0.8rem;
  }

  .day {
    border-radius: 0;
  }

  .day:not(:last-child) {
    margin-right: 0;
    border-right: 1px solid var(--color-darkest);
  }

  .calendar__row:not(:last-child) {
    border-bottom: 1px solid var(--color-darkest);
  }

  .calendar__row:not(:last-child) {
    margin-bottom: 0rem;
  }

  .calendar__header {
    margin-bottom: 1.6rem;
  }

  .calendar__names {
    font-size: 1.2rem;
  }

  .calendar__names li {
    margin-bottom: 0.8rem;
  }

  .day__number {
    font-size: 2rem;
    width: 10%;
  }

  .extension__events {
    padding: 0.8rem;
    padding-top: 1.6rem;
  }

  .app__info {
    padding: 0.8rem;
    padding-top: 0.8rem;
  }

  .app__info-text {
    max-width: 100%;
  }
}
